<head>
  <link rel="stylesheet" href="./style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Festive&display=swap"
    rel="stylesheet"
  />
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
  <style>
    h2 {
      font-family: "Festive", cursive;
      color: yellow;
    }
  </style>
</head>

<h3>link to section inside this page</h3>
<a href="#section2">Go to Section 2</a>

<h3>link to external webpage</h3>
<li><a href="https://example.com">Website</a></li>

<h3>email link (opens up email client)</h3>
<li><a href="mailto:m.bluth@example.com">Email</a></li>

<h3>link to local file</h3>
<a href="./index.html">linkk</a>

<h3>local audio</h3>
<audio controls src="test.mp3">
  Your browser does not support the
  <code>audio</code> element.
</audio>

<h3>local image</h3>
<img src="ege.jpg" />

<h3>external image</h3>
<img src="https://www.w3schools.com/images/w3schools_green.jpg" />

<h3>local video</h3>
<video width="320" height="240" controls>
  <source src="flower.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>

<h3>embed tag with external website</h3>
<embed src="https://example.com" width="100%" height="100%" />

<h3>iframe #1 Click the button to render</h3>
<iframe id="myFrame"> </iframe>

<h3>iframe #2 Click the button to render</h3>
<iframe id="myFrame2"> </iframe>

<h3>iframe #3 with external source</h3>
<iframe
  id="inlineFrameExample"
  title="Inline Frame Example"
  width="300"
  height="200"
  src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik"
>
</iframe>

<button onclick="myFunction()">Click me</button>

<h3 id="section2">section 2</h3>
<p style="color: blue; text-align: center">Some paragraph with inline style</p>
<h2>EXTERNAL FONT</h2>

<script>
  function myFunction() {
    var blob = new Blob(['<a id="a"><b id="b">heey!</b></a>'], {
      type: "text/html",
    });
    var newurl = window.URL.createObjectURL(blob);
    document.getElementById("myFrame").src = newurl;

    var html =
      'Hello from <img src="https://stackoverflow.com/favicon.ico" alt="SO">';
    document.getElementById("myFrame2").src =
      "data:text/html," + encodeURIComponent(html);
  }
</script>

<script>
  console.log("hello");
</script>

<script src="myscript.js"></script>
